/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-submitLink a {
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.85rem;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}
